.container-texts{

    color:#fff;
    font-size: 25px;
    padding-left: 5%;
    
}

.header-font{
    font-family: "Platypi", serif;
    font-weight: 400;
    font-style: normal;
}

.texts{
    font-family: "Platypi", serif;
    font-weight: 200;
    font-style: normal;
}

.texts h2{
    text-align: center;
}