header{
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 100px;
    transition : 0.5s;

}



.logo{
    font-family: 'Rubik Scribble',cursive;
    font-size: 35px;
    color:var(--primary)  ;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    text-transform:uppercase ;
}

.nav{
    display: flex;
    color: #fff;
    font-size: 20px;
}

.nav li {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 1s;
}

.nav li:hover{
    color:var(--primary);
}