.input-form{
    width: 64%;
    height:40px;
    border-radius: 5px;
    background-color: darkgray;
    padding-left:4%;
    margin-left: 4%;
}

.btn{
    height: 40px;
    border-radius: 5px;
    width:26%;
    margin-right: 4%;
    font-size: 15px;
    background-color: var(--primary);
    outline: none;
    border:none;
    color:#fff;
}

.btn:hover{
    color:#000
}

.imagecards{
    display: flex;
    width:100px;
    height: 50%;
}

.containercards{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border: 3px solid;
    overflow-x:scroll;
    scroll-behavior: smooth;
    padding-right: 10%;
}

.containercards::-webkit-scrollbar {
    display: none;
}

.containerimages{
    width:100%;
    height:70vh;
}

.imagescards{
    height: 100%;
    object-fit: fill;
    object-position: center;
    padding-right: 10%;

}

.containerdetails{
    width:100%;
    height: 30vh;
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
    overflow-y: scroll;
    backdrop-filter: blur(10px);
    color: cadetblue;
}

.containerdetails::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }


h2{
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--primary);
}